<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AcqTime" value="100" />
		<add key="SyncDiv" value="1" />
		<add key="Binning" value="0" />
		<add key="CFDLevel0" value="50" />
		<add key="CFDZeroCross0" value="0" />
		<add key="CFDLevel1" value="50" />
		<add key="CFDZeroCross1" value="0" />

	</appSettings>

</configuration>